body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  h3{
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  
  .carousel-inner img {
    -webkit-filter: grayscale(50%);
    filter: grayscale(0%); /* make all photos black and white */ 
    width: 50%; /* Set width to 100% */
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }

  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #688eff;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.7;
  }
 
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }